footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer div {
    margin-bottom: 10px;
}

footer a {
    color: #00bfff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

footer p {
    margin-top: 10px;
}
